* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

img {
    max-width: 100%;
}

.container {
    width: 1120px;
    margin: 0 auto;
}

.promo {
    background: url(../img/promo-bg.jpg) no-repeat center / cover;
    height: 789px;
    padding: 25px 0;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 131px;
}

.hamburger {
    display: none;
    background: none;
    border: none;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    color: white;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.menu a.active {
    color: #FFC700;
}

.promo h1 {
    font-size: 96px;
    margin-bottom: 43px;
}

.btn {
    width: 230px;
    height: 50px;
    background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
    border-radius: 60px;
    border: 0;
    font-size: 14px;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

.tour {
    padding: 90px 0 110px;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.heading h2 {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.26px;
    text-align: left;
    color: #0499DD;

}

.heading a {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.63px;
    text-align: left;
    color: #282828;
}


.tour_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 38px;
}

.tour_item {
    padding: 211px 16px 42px;
    color: white;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.63px;
    text-align: left;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
}

.tour_item h3 {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 17.07px;
    text-align: left;
    color: #FFC700;
    padding: 3px 0 10px;
}

.tour_item p {
    margin-bottom: 20px;
}

.tour_item button {
    width: 160px;
    height: 40px;
    font-size: 12px;
}

.about-us {
    background: url(../img/about-bg.png) no-repeat center / cover;
    padding: 136px 0;
}

.white_box {
    max-width: 542px;
    margin: 0 auto;
    background-color: #EDEDED;
    padding: 60px 80px 85px;
    border-radius: 10px;
}

.white_box h2 {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.26px;
    text-align: left;
    color: #0499DD;
    margin-bottom: 40px;
}

.white_box p {
    margin-bottom: 20px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.07px;
    text-align: left;
    color: #282828;
}

.excurs {
    padding: 98px 0;
}

.excurs h2 {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.26px;
    text-align: left;
    color: #0499DD;
    margin-bottom: 90px;
}

.excurs_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 20px;
}

.excurs_item {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    font-size: 14px;
    font-weight: 500;
    color: #282828;
}

.excurs_item h3 {
    font-size: 18px;
    color: #0499DD;
    margin-bottom: 10px;
}

.excurs_desc {
    max-width: 550px;
    margin: 60px auto 0;
    text-align: center;

    
    font-size: 14px;
    font-weight: 500;
    color: #282828;    
}

.excurs_desc p {
    margin-bottom: 20px;
}

.gallery {
    padding-bottom: 96px;
}

.gallery_grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 123px);
    gap: 16px;
}

.gallery_grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.gallery_grid img:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/3;
}

.gallery_grid img:nth-child(2) {
    grid-row: 1/5;
}

.gallery_grid img:nth-child(3), 
.gallery_grid img:nth-child(4) {
    grid-row: 1/3;
}

.gallery_grid img:nth-child(5) {
    grid-row: 3/5;
}

.gallery_grid img:nth-child(8) {
    grid-column: 4/6;
    grid-row: 3/5;
}

